body {
    height: 100%;
}
header {
    margin: 0 auto;
    margin-bottom: 50px;
    width: auto;

}

a {
    text-decoration: none;
    color: #999;
}

nav.topNav {
    overflow: hidden;
    font-family: sans-serif;
    margin: 10px 10px;
    text-decoration: none;

}
.leftNav a{
    float: left;
    list-style: none;
    margin: 14px 16px;
    text-align: center;
    color: #999;
}


.rightNav {
    float: right;

}

.rightNav a {
    margin-left: 10px;
    margin-right: 10px;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    height:100%;
    padding-bottom: 50px;
}
.logo {
    max-width: 90%;
    margin: 0 auto;
}
.searchBar {
    width: 1200px;
    margin:0 auto;
    height: 60px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #888888;
}

input[type=button] {
    background-color: #e6e6e6;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.mainButtons {
    margin: 0 auto;
    width: 600px;
    height: auto;
    margin-top: 30px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 80px;
    background-color: #e6e6e6;
    width: 100%;
}

.footerNav {
    color: #999;
    width: 100%;
    height: 90px;
    display: inline-block;
}

footer div.rightNav {
    color: #999;
    text-align: center;
}
